server {
	host	127.0.0.1;
	port	8000;

	server_name				example.com www.example.com;

	error_page				404				/404.html;

	client_max_body_size	5000000;

	location / {
		allow_methods GET POST DELETE;
		root /folder;
		upload /folder;
		index file.txt;
		autoindex on;
	}
	location /redirect {
		allow_methods GET;
		root /www;
		redirect /here;
	}
	location /here {
		allow_methods GET;
		root /folder;
		autoindex on;
	}
	location /php {
		allow_methods GET POST;
		root /www;
		cgi php /Users/tjmari/Desktop/1337-Common-Core/Webserv/php-cgi;
		cgi py /Users/tjmari/Desktop/1337-Common-Core/Webserv/python-cgi;
	}
}

server {
	host	0.0.0.0;
	port	9000;

	location / {
		allow_methods GET POST;
		root /folder;
	}
}